body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f8ff;
}

header {
  background: linear-gradient(45deg, #ff6f61, #de4da8);
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

section {
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section:nth-child(even) {
  background: #f9f9f9;
}

footer {
  background: #111111;
  color: rgb(48, 47, 47);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

h1, h2 {
  color: #000000;
}

p {
  color: #666;
  line-height: 1.6;
}
